@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,600&display=swap');

/* font-family: 'Poppins', sans-serif; */

*{box-sizing: border-box;}
html, body{
    margin: 0;
    background: var(--bg-dark);
}

body,button, input, select, textarea{
    font-family: 'Poppins', sans-serif;
    color: white;
}
:root{
    --yellow: #fae100;
    --orange: #fe9800;
    --bg-dark: #212226;
    --light-grey: #E0DEDE;
}

h1{
    font-size: 44px;
}
h2{font-size: 24px;
}
p{
    color: var(--light-grey);
}

button{
    background: var(--orange);
    border: 0;
    border-radius: 16px;
    padding: 8px 35px;
    color: white;
    font-weight: bold;
    font-size: 18px;

}
header{
    
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}
header .container{
    width: 50%;
    height: fit-content;
    padding: 0 100px;
    
}
header .container .logo{
    display: none;
}
header .container h1{
    color: var(--yellow);
}

header .container button{
    margin-top: 40px;
}
nav{
    position: sticky;
    top: 0;
}
nav .nav-container{
    display: flex;
    background: var(--bg-dark);
    height: 65px;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    
    
}

nav .nav-container h2{
    font-weight: lighter;
    color: var(--orange);

}
nav ul a {
    font-size: 24px;
    color: var(--yellow);
    text-decoration: none;
    

}
nav ul a svg{
    display: none;
}
nav ul{
    
    width: 100%;
    display: flex;
    justify-content: space-around;
}
section{
    height: 1500px;
    background: black;
}

/* responsividade */

/* tablet */
@media (max-width: 1024px){
    header .container{
        width: 100%;
    }

    header .container .logo{
        display: inline;
        font-weight: lighter;
    color: var(--yellow);
        margin-bottom: 100px;
    }
    
    nav .nav-container{
        padding: 0 30px;
        
    }
    nav h2{
       display: none;
    }
    nav ul{
        padding: 0;
    }
    nav ul a {
        font-size: 16px;
    }
    
}

/* celular */
@media(max-width:480px){
    header .container{
        padding: 0 20px;
    }
    header .container .logo{
        font-size: 15px;
    }
    nav .nav-container{
        position: fixed;
        display: flex;
        width:  100%;
        
    }
    nav ul a{
        font-size: 10px;
    }
    nav ul a i{
        color: var(--orange)
    }
    nav ul a svg{
        display: block;
        width: 17px;
        height: 17px;
        margin: 0 auto;
    }
}

/* sobre mim */

.about-me {
    /* background: red; */
    display: flex;
    flex-direction: row;
    padding: 200px 150px;
}
.about-me .container{
    width: 50%;
    padding-right: 50px;
}

.about-me .container h1{
    color: var(--yellow);
}
.about-me .container p{
    color: var(--light-grey);
}

.about-me .picture-container{
    width: 50%;
    height: 40%;
    /* height: fit-content; */
    text-align: center;
    position: relative;

    
}

.about-me .picture-container .profile{
    width: 60%;
    height: 100%;
    
    
}

.about-me .picture-container .line{
    position: absolute;
    width: calc(60% + 50px);
    height: calc(100% + 50px);
    border: 1px solid var(--orange);
    top: -25px;
    left: 90px;
}
.about-me .picture-container .line.yellow{
    transform: rotate(-3.3deg);
    border: 1px solid var(--yellow);
}